body{
    background:#ffccff;
    color:#ccffff
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}
 .header{
     width:90%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#99ffff;
     color:00cccc:
}

