body{
    background:#ffccff;
    color:#ccffff
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}
 .header{
     width:90%;
     margin:auto;
     height:120px;
     line-height:120px;
     background:#ff66ff;
     color:666699
}
.jarak{
    padding:0 2pc;
}

