body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6d6f5;
  }

  .header {
    background-color: #1a1a1a;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .navbar {
    background-color: #b79ac8;
    padding: 10px;
  }

  .navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
  }

  .container {
    display: flex;
    padding: 20px;
    background-color: #eee;
  }

  .content {
    flex: 3;
    margin-right: 20px;
  }

  .box {
    border: 1px solid #5c7a7a;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }

  .box button {
    margin-top: 10px;
  }

  .sidebar {
    flex: 1;
  }

  .sidebar h3 {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
  }

  .sidebar a {
    display: block;
    margin: 5px 0;
    color: blue;
    text-decoration: none;
  }

  .footer {
    padding: 20px;
    font-size: 12px;
    background-color: #1a1a1a;
    color: white;
  }








